
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="text-center">Commands</h1>

          <form>
            <table class="text-center table table-striped">
              <thead>
                <tr>
                  <td>Command Name</td>
                  <td>Value</td>
                  <td>submit</td>
                  <td>delete</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" id="varname" label="varname"></td>
                  <td><input type="text" id="value" label="varname"></td>
                  <td><button name="subcom" id="like">Submit</button></td>
                  <td><button name="delcom" id="like"> Delete</button></td>
                </tr>

                {{#each coms}}
                <tr>
                  <td>{{command}}</td>
                  <td>{{result}}</td>
                  <td><button name="edcom" id="like" value="{{command}}">Edit</button></td>
                  <td><button name="delcom" id="like" value="{{command}}"> Delete</button></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
</form>
</td>


        <input type="submit" id="111" value="toggleswitch">



    </main>

$("#111").click(function() {
    $.ajax({
        type: 'POST',
        url: 'http://localhost:3000/botcon'
    });
  });
</script>
